*p {
  padding: 0%;
  margin: 0%;
}

.mainContainer {
  background-color: rgb(211, 211, 211);
}

header {
  background-color: rgb(73, 73, 73);
}

#name {
  color: aqua;
} 

#pillsfont {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}