*p {
  padding: 0%;
  margin: 0%;
}

.mainContainer {
  background-color: rgb(194, 194, 194);
}

#collapsibleNavbar {
  text-align: right;
}

#mainMargin {
  padding-top: 80px;
}

#nombreTiendafooter {
  font-style: italic;
}
  

#nav2 {
  background-color: antiquewhite;
}
