*p {
  padding: 0%;
  margin: 0%;
}

.mainContainer {
  background-color: rgb(160, 160, 160);
}

#collapsibleNavbar {
  text-align: right;
}

#mainMargin {
  padding-top: 80px;
}

#nombreTienda {
  font-weight: bold;
}